<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SMO</title>
    <!-- Bootstrap core CSS -->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font")
    <!-- Custom fonts for this template -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <!-- Custom styles for this template -->


</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">SMO</a>
            <!-- Brand/logo -->
            <img src='img/logo-01.png' class='img-rounded navbar-brand' />


            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Quem somos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="Home/About">Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#documents">Documentos</a>
                    </li>
                    <li class="dropdown nav-item" id="textopersonalisado">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret" id="posicaomenu"><b>Login</b></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="ajustedomenu">
                                            <form class="form" role="form" action="Banco/Index2" accept-charset="UTF-8" id="login-nav">
                                                <div class="form-group">

                                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Usuario" size="60" required>
                                                </div>
                                                <div class="form-group">

                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha" size="60" required>

                                                </div>

                                                <button type="submit" class="btn btn-primary btn-block">Entrar</button>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    @RenderBody()

    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scroll")
    @Scripts.Render("~/bundles/creative")

    <!-- Bootstrap core JavaScript -->
    <!-- Plugin JavaScript -->
    <!-- Custom scripts for this template -->

</body>
</html>
